name: Build & Push to Artifactory

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      JF_URL: ${{ secrets.JF_URL }}
      JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
      JFROG_CLI_SERVER_ID: artifactory
      DOCKER_IMAGE: flosum-image
      BUILD_NAME: flosum-build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v3

      - name: Log into Artifactory Docker registry
        run: |
          echo "${JF_ACCESS_TOKEN}" | docker login ${{ secrets.JF_DOCKER_REGISTRY }} -u "${{ secrets.JF_USERNAME }}" --password-stdin 

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.JF_DOCKER_REGISTRY }}/${DOCKER_IMAGE}:latest .

      - name: Push Docker image (Docker-native)
        run: |
          docker push ${{ secrets.JF_DOCKER_REGISTRY }}/${DOCKER_IMAGE}:latest

      - name: Add metadata
        run: |
          jf rt build-add-props ${BUILD_NAME} ${GITHUB_RUN_NUMBER} "git-commit=${GITHUB_SHA}"

      - name: Publish build-info
        run: |
          jf rt build-publish ${BUILD_NAME} ${GITHUB_RUN_NUMBER}
